.kanban-board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    color: white;

    overflow-x: auto;
    &::-webkit-scrollbar {
        display: none;
    }

    .col {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: 1rem;

        // padding: .5rem;
        svg {
            &:hover {
                filter: brightness(0.75);
            }
            &:active {
                transform: scale(0.95);
            }
        }

        h2 {
            display: flex;
            justify-content: space-between;
            align-items: center;

            svg {
                color: var(--iris);
            }
        }

        .card {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            background-color: #211a75;
            padding: 1rem;
            border-radius: 1rem;

            .progress-container {
                width: 200px;
                position: relative;
                z-index: 5;
            }

            .lesser-text {
                color: #a5a5a5;
                font-size: smaller;
            }

            .head-circle {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                margin-right: 10px;
            }

            .row {
                display: flex;
                justify-content: space-between;
                align-items: center;

                h2 {
                    margin-right: auto;
                }
            }
            .card-menu-container {
                position: relative;

                svg {
                    cursor: pointer;
                }
            }
            .card-menu {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                position: absolute;
                right: 0;
                width: 80px;

                z-index: 6;

                background-color: var(--dark02);
                border-radius: 0.5rem;
                overflow: hidden;

                span {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0.5rem;
                    cursor: pointer;
                    &:hover {
                        background-color: var(--Primary);
                    }
                }
            }
        }
    }
}
