:root {
    --dark01: #0d0b21;
    --dark02: #15132b;
    --iris: #7879f1;
    --Primary: #6418c3;
    --Secondary: #211a75;
    --accent1: #e328af;
    --accent2: #5ecfff;
    --grey01: #a5a5a5;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: var(--major-font);
}

html {
    height: 100vh;
    position: relative;
}

input {
    outline: none;
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;
}
textarea {
    outline: none;
    border: none;
    resize: none;
    &::-webkit-scrollbar {
        background-color: var(--dark02);
        width: 7.5px;
    }
    &::-webkit-scrollbar-thumb {
        background: var(--Primary);
        border-radius: 25px;
    }
}

body {
    display: flex;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader-container {
    height: 100%;
}
